
::-webkit-scrollbar {
	width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: rgba(255,255,255,0.7); 
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0.4); 
}

::selection {
  background: #787387; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #787387; /* Gecko Browsers */
}

html {
	height: 100%;
	width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none;	
}

body {
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	color: white;
	font-family: 'Roboto Slab', sans-serif;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

a {
	text-decoration: none;
	color: #2EA8FF;
}

.transition {
	-webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	-moz-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	-ms-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#header1 {
	display: grid;
	background-color: #1b1a1a;
	text-align: center;
	cursor: pointer;
	height: 10vh;
}

#header1 h1 {
	margin: auto;
	font-size: 3em;
	font-family: 'Roboto Slab', sans-serif;
}

#header2 {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	background-color: #27262b;
	height: 10vh;
}

#topNav {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-row: 1;
	background-color: rgba(255,255,255,0.01);
	width: 100%;
	text-align: center;
}

#logout {
	margin: auto;
	grid-column: 8;
	font-size: 1.15em;
	padding: .5em 0 .5em 0;
	font-weight: 300;
	width: 100%;
	cursor: pointer;
}

#logout:hover {
	background-color: rgba(255,255,255,0.1);
}


#sidebar {
	position: relative;
	background-color: #27262b;
	height: 100%;
	display: inline-block;
	width: 30vh;
	font-family: 'Saira Condensed', sans-serif;
}

#sidebar span {
	font-size: 110%;
	padding: 5%;
	position: absolute;
	bottom: 0;
}

#sidebar span p {
	cursor: pointer;
	color: #63d4ff;
	display: inline;
}

.navi {
	display: grid;
	height: 6vh;
	width: 100%;
	cursor: pointer;
	grid-template-columns: 1fr 5fr 20fr;
}

.naviHead {
	background-color: rgba(0,0,0,0.4);
	padding: 3%;
	font-weight: 300;
}

.naviHead:first-child {
	margin-top: 6vh;
}

.naviInner {
	background-color: rgba(0,0,0,0.15);
}

.naviInner div {
	display: grid;
	height: 4vh;
	width: 100%;
	cursor: pointer;
	grid-template-columns: 3fr 7fr;
}

.navi:hover, .naviInner div:hover {
	background-color: rgba(255, 255, 255, 0.1) !important
}

.navi i  {
	margin: auto 0 auto 0;
	font-size: 2.1vh;
	text-align: center;
	grid-column: 2;
}

.navi p {
	margin: auto 0 auto 0;
	font-size: 1em;
	grid-column: 3;
	font-weight: 300;
	font-size: 1.2em;
}

.naviInner p {
	margin: auto 0 auto 0;
	font-size: 1em;
	grid-column: 2;
}

#mainContainer {
	position: absolute;
	top: 0;
	background-color: #3e505a;
	font-family: 'Saira Condensed', sans-serif;
	height: 100%;
	min-width: 100vh;
	width: calc(100vw - 30vh);
	display: inline-block;
}

.card {
	display: grid;
	border-radius: 2px;
	background-color: #FEFEFE;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	color: black;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	grid-template-columns: 35% auto 25% 15%;
	grid-template-rows: 6vh auto;
}

.card:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#directory {
	display: grid;
	height: 100%;
	grid-column: 1;
	grid-row: 1;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 2fr 25fr;
}

#directory p {
	font-size: 1.2em;
	padding: 0.6em;
}

canvas {
	display: none;
	grid-column: 1;
	grid-row: 4;
}

#playback {
	grid-column: 1;
	grid-row: 2;
}

#directoryHeader {
	display: grid;
	grid-template-columns: 60% 25% 10% 5%;
	color: white;
	background-color: #3c84a7;
	box-shadow: #242424 0 0 2px 1px;
}

#directoryHeader p {
	display: grid;
	cursor: pointer;
	grid-template-columns: 19fr 1fr;
	padding: .6em;
	border-left: 1px solid #fefefe;
}

#directoryHeader p:first-child {
	border-left: none;
}

#directoryHeader p:hover {
	background-color: rgba(0,0,0,0.1);
}

#directoryHeader span {
	margin: auto 0 auto 0;
}

#directoryHeader i {
	margin: auto;
	display: none;
	opacity: 0;
}

#directoryCont {
	overflow-y: auto;
}

.item {
	display: grid;
	cursor: pointer;
	border-bottom: 1px solid #222;
	background-color: rgba(255,255,255,0.03);
	grid-template-columns: 4% 56% 25% 10% 5%;
	grid-template-rows: 100%;
}

.item:hover {
	background-color: rgba(255,255,255,0.1);
}

.item:first-child {
	border-top: 1px solid #222;
}

.item:last-child {
	margin-bottom: 25%;
}

.item .name {
	grid-column: 2;
}

.item .modified {
	grid-column: 3;
	padding-left: 1.2em !important;
}

.item .size {
	grid-column: 4;
	padding-left: 1.2em !important;
}

.item p {
	pointer-events: none;
}

.item div {
	margin: auto;
	font-size: 1.2em;
	color: white;
}

.item div:hover {
	color: #F47922;
}

.fileIcon {
	border-radius: 50px;
	grid-column: 1 !important;
	grid-row: 1;
	background-color: rgba(0,0,0,0.4);
	margin: auto;
}

.fileIcon .fa {
	padding: .6em;
}

.fileIcon .fa:hover {
	color: #fff;
}

#directoryLocWrapper {
	display: grid;
	grid-template-columns: auto 6vh;
	grid-template-rows: 100%;
}

#directoryLocWrapper div:nth-child(2) {
	cursor: pointer;
	grid-column: 2;
	margin: auto;
	font-size: 140%;
	color: white;
}

#directoryLocWrapper div:nth-child(2):hover {
	color: #F47922;
}

#directoryLocation {
	opacity: 0;
	grid-column: 1;
	grid-row 1;
}

#directoryLocation p {
	padding: 0.5vh;
	margin: 1vh 1.5vh 1vh 1.5vh;
	border-radius: 5px;
	display: inline-block;
}

#directoryLocation i {
	font-size: 150%;
}

.subdir:hover {
	background-color: rgba(255,255,255, 0.1);
}

#playback {
	display: grid;
	grid-template-columns: 30% 40% 15% 15%;
	grid-template-rows: 100%;
	background-color: rgba(255,255,255,0.1);
}

audio {
	display: none;
}

#playback div {
	display: grid;
}

#playback h2 {
	font-size: 2.3vh;
	margin: auto 5% auto;
	font-weight: 100;
}

#playback i {
	font-size: 2.3vh;
}

#info {
	grid-template-columns: 9fr 1fr;
	grid-template-rows: 100%;
}

#info div {
	display: grid;
}

#info a {
	cursor: pointer;
	margin: auto;
}

#info i {
	color: rgba(255,255,255,1);
}

#info i:hover {
	color: rgba(255,255,255,0.7);
}

#tracker {
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr;
}

#tracker div:first-child {
	margin: auto;
	display: block;
	width: 100%;
	text-align: center;
}

#tracker i {
	margin: auto;
	cursor: pointer;
	padding: 0 3% 0 3%;

}

#tracker i:hover {
	color: rgba(255,255,255,0.7);
}

#bar {
	display: grid;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: 100%;
}

#bar p {
	padding: 0 0 0 10%;
	margin: auto 0 auto 0;
}

#bar p:first-child {
	padding: 0 10% 0 0;
	margin: auto 0 auto 0;
	text-align: right;
}

#speed, #volume {
	grid-template-columns: 20% 80%;
	grid-template-rows: 100%;
	padding: 10%;
}

#speed i, #volume i {
	margin: auto;
	cursor: pointer;
}

#speed i:hover, #volume i:hover {
	color: rgba(255,255,255,0.6);
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 3px 0;
  background: rgba(0,0,0,0);
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #63d4ff;
}

input[type=range]::-webkit-slider-thumb {
  height: 13px;
  width: 13px;
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #63d4ff;
}

input[type=range]::-moz-range-thumb {
  height: 13px;
  width: 13px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #395373;
  border-radius: 50px;
}

input[type=range]::-ms-fill-upper {
  background: #486992;
  border-radius: 50px;
}

input[type=range]::-ms-thumb {
  height: 13px;
  width: 13px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 7px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #486992;
}

input[type=range]:focus::-ms-fill-upper {
  background: #5a7fae;
}

.overlay .fa-times {
	font-size: 4vh;
	position: absolute;
	right: 4vh;
	top: 4vh;
	color: white;
	cursor: pointer;
}

.overlay .fa-times:hover {
	color: rgba(255,255,255,0.8);
}

#copy {
	opacity: 0;
	position: absolute;
	top: -50%;
}