html, body {
	height: 100%;
	margin: 0;
	font-family: 'Roboto Slab', sans-serif;
}

body {
	display: grid;
	background-color: #0e0e0e;
}

.transition {
	-webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	-moz-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	-ms-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#canvas {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
}

#formContainer {
	height: 50%;
	margin: auto;
	padding: 2%;
	background-color: #27262b;
	color: #fefefe;
	position: relative;
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.12);
	border-radius: 2px;
}

#formContainer h1 {
	margin: auto auto 10% auto;
	font-size: 350%;
	text-align: center;
}

#formContainer p {
	margin: 0 0 2% 0;
	font-size: 110%;
}

#formContainer input {
	margin-bottom: 10%;
	padding: 5%;
	border: none;
	font-size: 130%;
	font-family: 'Roboto Slab', sans-serif;
	display: block;
	background-color: rgba(255,255,255,0.1);
	color: #fefefe;
	outline: none;

}

#formContainer input:hover, #formContainer input:active {
	background-color: rgba(255,255,255,0.15);
}

#formContainer button {
	width: 80%;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 150%;
	padding: 3%;
	color: white;
	cursor: pointer;
	border: 0;
	background-color: #5fab4c;
	position: absolute;
	bottom: 8%;
	outline: none;
}

#formContainer button:hover {
	background-color: #599e48;
}

#formContainer button:active {
	animation: pop 0.3s cubic-bezier(.25, .8, .25, 1) 0s 1;
}

@keyframes pop {
	0% { width: 78%; margin: 1%; font-size: 140%; bottom: 7.5%;}
	100% { width: 80%; margin: 0; font-size: 150%; bottom: 8%;}
}