<div id="sidebar">
	<div id="header1" class="transition">
		<h1>BinBin</h1>
	</div>
	<div id="sidebarItems"></div>
	<span>Developed by <p onclick="window.open('https://github.com/ksjdragon/binbin.git','_blank')">ksjdragon</p></span>
</div>
<div id="mainContainer">
	<div id="header2">
		<div id="topNav">
			<div id="logout" class="transition" onclick="window.location='./logout';">Logout</div>
		</div>
	</div>
	<div id="directory">
		 <div id="directoryLocation" class="transition">
			<p>a</p>
		</div>
		<div id="directoryHeader">
			<p class="name transition">
				<span>Name</span>
				<i class="fa fa-chevron-down transition"></i>
				<i class="fa fa-chevron-up transition"></i>
			</p>
			<p class="date transition">
				<span>Date Modified</span>
				<i class="fa fa-chevron-down transition"></i>
				<i class="fa fa-chevron-up transition"></i>
			</p>
			<p class="size transition">
				<span>Size</span>
				<i class="fa fa-chevron-down transition"></i>
				<i class="fa fa-chevron-up transition"></i>
			</p>
		</div>
		<div id="directoryCont">
			
		</div>
		<canvas id="visualize" width="1200" height="250"></canvas>
	</div>
</div>
<input id="copy" readonly> 
