<div id="header">
	<div class="transition">
		<i class="fa fa-bars transition"></i>
	</div>
	<h1>BinBin</h1>
	<div class="transition">
		<i class="fa fa-ellipsis-v"></i>
	</div>
</div>
<div id="directoryHeader">
	<p id="location" class="transition">BinBin</p>
	<p class="transition">Name</p>
	<i class="fa fa-arrow-up transition"></i>
</div>
<div id="sidebar" class="transition">
	<div id="sidebarItems"></div>
	<span>Developed by <p onclick="window.open('https://github.com/ksjdragon/binbin.git','_blank')">ksjdragon</p></span>
</div>
<div id="mainContainer">
	<div id="directory">
	</div>
</div>
<div id="dotMenu" class="card">
	<p id="openSort" class="transition">Sort by...</p>
	<a id="download" class="transition" download>Download</a>
</div>
<div id="menuOverlay" class="transition">
	<div id="optionContainer" class="transition">
		<p>Sort by</p>
		<p>Name</p>
		<p>Date</p>
		<p>Size</p>
	</div>
</div>
<input id="copy" readonly>